@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Thin.eot');
    src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
    url('AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Thin.woff') format('woff'),
    url('AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
body {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    background-color: #000;
    color: #ffffff;
    font-size: 1.7em;
}
body::-webkit-scrollbar { width: 0; }
svg{fill: currentColor;}
a, a:hover{
    text-decoration: none;
    color: #ffffff;
}

*{
    font-family: 'Avenir Next Cyr', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
a:focus, a:visited, a:active, a {
    outline: none;
}
.hide{display: none;}
.show{display: block;}
/* ///////////// */

.App{
    padding: 60px 20px;
}
.loader {
    position: fixed;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;

    background-color: rgba(55, 51, 53, 0.8);
}
.loader img{
    display: block;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    animation: rotate 0.65s ease-in-out infinite;
}
nav.mainmenu{
    width: 100%;
    height: 150px;
    color: white;
    position: relative;
    margin-bottom: 50px;
}
nav.mainmenu .staff{
    height: 82%;
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
}
nav.mainmenu .staff img{
    height: 100%;
    border-radius: 50%;
}
nav.mainmenu .right_side{
    padding: 0 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
nav.mainmenu .right_side .bell{
    height: 75%;
    width: 100%;
    margin: auto;
    position: relative;

}
nav.mainmenu .right_side .bell img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65px;
    height: 55px;
}
nav.mainmenu .right_side .name{
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 100;
}
nav.mainmenu .nav_border{
    position: absolute;
    height: 1px;
    width: 100%;
    border-bottom: solid 1px #fff;
    opacity: 0.54;
    top:152px;
}
nav.mainmenu ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 50px;
}
nav.mainmenu li{

}
nav.mainmenu li a{
    padding: 10px;
    opacity: 0.54;

    position: relative;
    height: 100%;

    font-size: 0.8em;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
nav.mainmenu li a .cart_cont{
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
nav.mainmenu li .img_block{
    position: relative;
    display: flex;
}
nav.mainmenu li img{
    width: 4vw;
    margin: 0 auto;
}
nav.mainmenu .count_product_in_cart_container{
    width: 100%;

    position: absolute;
    display: flex;
    justify-content: space-around;
    font-size: 1.25em;
    color: #f8e71c;
}
nav.mainmenu .count_product_in_cart_sub_container{
    width: 100%;
    text-align: center;
    padding-top: 0.3vw;
}
nav.mainmenu a:hover {

}
nav.mainmenu a:hover, nav.mainmenu a.active{
    -webkit-box-shadow: 0 3px 0 0 rgb(255,255,255);
    -moz-box-shadow: 0 3px 0 0 rgb(255,255,255);
    box-shadow: 0 3px 0 0 rgb(255,255,255);
    opacity: 1;
}

.gender_filter_block{
    width: 30%;
}
.gender_filter_block ul{
    display: flex;
    justify-content: space-between;

    margin-left: 50px;
    list-style: none;
}
.gender_filter_block a{
    display: block;
    padding: 8px 0;
    opacity: 0.54;
    cursor: pointer;
    text-transform: uppercase;
}
.gender_filter_block a:hover, .gender_filter_block a.active{
    -webkit-box-shadow: 0 3px 0 0 rgb(255,255,255);
    -moz-box-shadow: 0 3px 0 0 rgb(255,255,255);
    box-shadow: 0 3px 0 0 rgb(255,255,255);
    opacity: 1;
}
.middle_container{
    margin-top: 100px;
    display: flex;
}
@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
                                /*  ASIDE */
.middle_container aside{
    width: 400px;
    text-transform: uppercase;
}

/*  MAIN FILTER */
.middle_container .main_filter_container .main_filter_block{
    position: relative;

    margin-left: 50px;
    margin-top: -1px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    opacity: 0.54;
    cursor: pointer;
}
.middle_container .main_filter_container .main_filter_block .href_container{
    display: flex;
    position: relative;

    padding: 10px;
    cursor: pointer;
}
.middle_container .main_filter_container .main_filter_block .subcontainer{
    font-size: 0.5em;
}
.middle_container .main_filter_container .main_filter_block:hover{
    opacity: 1;
}
.middle_container .main_filter_container .active{
    opacity: 1;
}
.middle_container .main_filter_container .main_filter_block .main_filter_angle{
    font-size: 0.6em;
    width: 10px;
    margin: 6px;
    opacity: 1;
}
.middle_container .main_filter_container .main_filter_block .main_filter_angle{

}
.middle_container .main_filter_container .main_filter_block a{
    font-size: 0.7em;
    padding: 5px 0;
}

/*  CAT FILTER */
.middle_container .category_filter_container{
    margin-left: 50px;
    margin-top: 50px;
}
.middle_container .category_filter_container .active a{
    color: #f8ed64;
}
.middle_container .category_filter_container .category_filter_block{
    cursor: pointer;
}
.middle_container .category_filter_container .category_filter_block a{
    color: #f8e71c;
    font-size: 0.7em;
    padding: 35px 0 10px 0;
    display: block;
}
.middle_container .category_filter_container .category_filter_subcont{
    margin-left: 50px;
}
.middle_container .category_filter_container .category_filter_subcont .category_filter_subcont_block a{
    padding: 10px 0;
    display: block;
    white-space: nowrap;
    font-size: 0.7em;
    cursor: pointer;
}

                                                    /*  product_list  */
.middle_container .center_container{
    width: 100%;
    padding: 0 150px;
    position: relative;
}

    .middle_container .center_container .info_line{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }
        .middle_container .center_container .info_line .left{
            display: flex;
        }
        .middle_container .center_container .info_line .left .category{
            text-transform: uppercase;
        }
        .middle_container .center_container .info_line .left .count_in_selection{
            opacity: 0.54;
            margin-left: 20px;
            font-size: 0.8em;
            margin-top: 5px;
        }
        .middle_container .center_container .info_line .sort_select_container{
            width: 320px;
        }
        .middle_container .center_container .info_line .show_block{
            padding: 15px;
            border-radius: 6px;
            border: 1px solid #fff;


            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
        .middle_container .center_container .info_line .show_block .text{

        }
        .middle_container .center_container .info_line .sort_select_container .show_block .angle_down{
            margin: 4px 10px 0 10px;
            width: 15px;
        }

    .middle_container .center_container .products_container{
        height: 900px;
        overflow: auto;
    }
        .middle_container .center_container .products_container .products_row{
            display: flex;
            justify-content: space-between;
            font-size: 0.85em;
            margin-bottom: 100px;
        }
        .middle_container .center_container .products_container .product_block{
            width: 320px;
            display: flex;
            flex-direction: column;
        }
        .middle_container .center_container .products_container .product_block .image_container{
            width: 100%;
            height: 525px;
            background-color: #fff;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .middle_container .center_container .products_container .product_block img{
            width: 100%;

        }
        .middle_container .center_container .products_container .product_block span{
            margin-bottom: 5px;
        }
        .middle_container .center_container .products_container .product_block a{
            cursor: pointer;
            color: #f8e71c;
            text-transform: uppercase;
        }
        
    .middle_container .center_container .products_container .products_row{
        display: flex;
        justify-content: space-between;
        font-size: 0.85em;
        margin-bottom: 100px;
    }
    .middle_container .center_container .products_container .product_block{
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    .middle_container .center_container .products_container .product_block .image_container{
        width: 100%;
        height: 525px;
        background-color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .middle_container .center_container .products_container .product_block img{
        width: 100%;
    }
    .middle_container .center_container .products_container .product_block span{
        margin-bottom: 5px;
    }
    .middle_container .center_container .products_container .product_block a{
        cursor: pointer;
        color: #f8e71c;
        text-transform: uppercase;
    }
    .middle_container .center_container .product_card_container{
        position: relative;
    }
    .middle_container .center_container .product_card_container .close{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.3em;
    }
    .middle_container .center_container .product_card_container .close a{
        cursor: pointer;
        padding: 15px;
    }
    .middle_container .center_container .product_card_container .gallery{
        display: flex;
        justify-content: space-around;
    }
    .middle_container .center_container .product_card_container .gallery img{
        width: 80%
    }




                                                /*  DRESSING  */
    .dressing_category{
        border-top:1px #fff solid;
    }
    .dressing_category .product{
        width: 18vw;
    }
    .dressing_category .product img{
        width: 100%;
    }